ACTION=="add|change", KERNEL=="ttyACM*", ATTRS{idVendor}=="15d1", PROGRAM="/usr/local/bin/hokuyoaist_getid -o type=serial,timeout=1,device=%N", SYMLINK+="hokuyo_%c"
