cmake_minimum_required(VERSION 2.8)

project(HokuyoAISTExample)

# Search for dependencies
find_package(HokuyoAIST)

# Set compiler flags
include_directories(${HokuyoAIST_INCLUDE_DIRS})
add_definitions(${HokuyoAIST_DEFINITIONS})

# Get laser data example
add_executable(${PROJECT_NAME}_example example.cpp)
target_link_libraries(${PROJECT_NAME}_example
    ${HokuyoAIST_LIBRARIES})

# Get laser ID example
add_executable(${PROJECT_NAME}_getid getid.cpp)
target_link_libraries(${PROJECT_NAME}_getid
    ${HokuyoAIST_LIBRARIES})

